@use '~common/scss/mixin' as *;

.bg-geom {

  border-style: solid;
  border-color: var(--blanco01);
  border-width: 1px 0;

  &:before {

    content: "";
    @include absolutebox();
    @include bgimage("~assets/images/fondo-geometria-dinamica.svg", cover);
    mix-blend-mode: difference;
    opacity: 0.15;
    z-index: 1 !important;

  }

  > * {

    position: relative;
    z-index: 2;

    &.wp-block-cover__background {

      z-index: 0 !important;
    }
  }
}

figure.is-style-default.radius {

  border-radius: var(--s2);
  overflow: hidden;
}