@keyframes dynamicZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.wp-block-cover.ps-visual.ps-dynamiczoom {

  .wp-block-cover__image-background {    

    animation: dynamicZoom 50s linear infinite;
    transform-origin: center center;
  }
}
