@use '~common/scss/mixin' as *;

.wp-block-group.form {
  
  .form-block__required-notice {

    text-align: right;
    color: #ffffff88;
    font-size: 0.8em;
    // margin-bottom: var(--s2);

    .is-required {
      
      position: absolute;
      color: #ff0000;
      font-size: 1.8em;
      line-height: 1;
    }
  }

  &.auditoria {

    .form-block__required-notice {

      display: none;
    }

    form {

      .wp-block-form-block-input {

        margin-bottom: 0 !important;
      }
    }
  }

  .wp-block-form-block-form {

    // margin-bottom: var(--s3);
    
    .form-block__element.wp-block-form-block-input  {

      padding: var(--s);
      margin-bottom: 0;
      margin-left: calc(var(--s) * -1);
      margin-right: calc(var(--s) * -1);

      label {

        margin: 0;
        flex: 1;
      }

      .form-block__label {

        margin: 0 0 var(--s05);
        font-size: 0.9em;

        .is-required {

          position: absolute;
          display: inline-block;
          color: #ff0000;
          font-size: 1.8em;
          line-height: 1;
        }
      }

      &.is-type-checkbox {

        margin-bottom: 0;   
        display: flex;
        align-items: center;   

        .form-block__label {

          margin: 0 0 0;
          font-size: 0.9em;
        }
      }

      &.form-error {

        border: dotted 1px var(--naranja-intenso);
      }

      &.wp-block-button {

        justify-content: flex-end;
        margin-block-start: 0;
        margin-block-end: 0;

        input {

          width: fit-content;
        }
      }

      .form-block__source[id="id-he-ledo-y-acepto-la-poltica-de-privacidad-2"],
      .form-block__source[id="id-he-ledo-y-acepto-la-poltica-de-privacidad-3"] {

        width: var(--s2);
        height: var(--s2);
        margin-right: var(--s);
        cursor: pointer;
      }

      .inline-error {

        margin-top: var(--s05);
        font-size: 0.8em;
        color: var(--naranja-intenso);
        font-weight: 900;
      }

      &.is-type-system {

        padding: 0;
        margin-bottom: 0;
      }

      &.is-type-hidden {

        display: none;
      }
    }

    .form-block__message-container {

      &.is-type-success,
      &.is-type-error {

        font-weight: 900;
        text-align: center;
      }

      &.is-type-success {

        color: var(--verde-roi);
      }

      &.is-type-error {

        color: var(--naranja-intenso);
      }
    }
  }
}